/.vs/Backend/v15/.suo
/.vs/Backend/v15/Server/sqlite3/db.lock
/.vs/Backend/v15/Server/sqlite3/storage.ide
/.vs/Backend/v15/Server/sqlite3/storage.ide-shm
/.vs/Backend/v15/Server/sqlite3/storage.ide-wal
/Backend/obj/
/Backend/SIS.Database/Migrations/
db.lock
