/.vs/Backend/v15/.suo
/.vs/Backend/v15/Server/sqlite3/db.lock
/.vs/Backend/v15/Server/sqlite3/storage.ide
/.vs/Backend/v15/Server/sqlite3/storage.ide-shm
/.vs/Backend/v15/Server/sqlite3/storage.ide-wal
db.lock

/SIS.API/.vs/
/SIS.API/obj/
/SIS.API.DataContract/obj/
/SIS.API.UnitTests/obj/
/SIS.API/bin/
/SIS.API.DataContract/bin/
/SIS.API.UnitTests/bin/

/SIS.Business/obj/
/SIS.Business.DataContract/obj/
/SIS.Business.Tests/obj/
/SIS.Business/bin/
/SIS.Business.DataContract/bin/
/SIS.Business.Tests/bin/

/SIS.Database/obj/
/SIS.Database.DataContract/obj/
/SIS.Database.Tests/obj/
/SIS.Database/bin/
/SIS.Database.DataContract/bin/
/SIS.Database.Tests/bin/
