/.vs/Backend/v15/.suo
/.vs/Backend/v15/Server/sqlite3/db.lock
/.vs/Backend/v15/Server/sqlite3/storage.ide
/.vs/Backend/v15/Server/sqlite3/storage.ide-shm
/.vs/Backend/v15/Server/sqlite3/storage.ide-wal
/Backend/obj/
/Backend/SIS.Database/Migrations/
/SIS.API/.vs/

/SIS.API/obj/
/SIS.API/bin/
/SIS.API.DataContract/obj/
/SIS.API.DataContract/bin/
/SIS.API.UnitTests/bin/
/SIS.API.UnitTests/obj/

/SIS.Business/bin/
/SIS.Business/obj/
/SIS.Business.DataContract/bin/
/SIS.Business.DataContract/obj/
/SIS.Business.UnitTests/bin/
/SIS.Business.UnitTests/obj/

/SIS.Database/bin/
/SIS.Database/obj/
/SIS.Database.DataContract/bin/
/SIS.Database.DataContract/obj/
/SIS.Database.UnitTests/bin/
/SIS.Database.UnitTests/obj/
